

<p id="notice"><%= notice %></p>
<h1 align="center"><strong>Welcome to Orchids University</strong></h1>
<br>
<br>
<p style="text-align: center"> <%= image_tag("/picture.jpg", class:"home-img")  %> </p>
<br>
