

<p id="notice"><%= notice %></p>
<h1 align="center"><strong>Welcome to Orchids University</strong></h1>

<br>
<p style="text-align: center"> <%= image_tag("/picture.jpg", class:"home-img")  %> </p>
<br>

<p align="center">This application was designed using Ruby on Rails framework</p>